<!-- upload.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
      layout:fragment="Content">
<head>
      <!--Common Head-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport"
              content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
        <title>마이페이지</title>
 </head>
 
    <div class="main">
      <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>Shopping cart</h1>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-image">이미지</th>
                    <th class="goods-page-description">상품명</th>
                    <th class="goods-page-quantity">수량</th>
                    <th class="goods-page-total" colspan="2">합계 금액</th>
                    <th >삭제</th>
                  </tr>
                  <tr th:each="cart : ${cartList}" id="">
                    <td class="goods-page-image">
                      <a th:href="'/product/detail?productNum='+${cart.productNum}"><img th:src="'/image/'+${cart.proImg1}" alt="Berry Lace Dress"></a>
                    </td>
                    <td class="goods-page-description">
                      <h3><a th:href="'/product/detail?productNum='+${cart.productNum}" th:text="${cart.productName}"></a></h3>
                    </td>
                    <td class="goods-page-quantity">
                      <div class="product-quantity">
                         <input id="proCnt" type="text" th:value="${cart.cartCnt}" readonly class="form-control input-sm">
                          <form action="/cart/cartUpdate" method="post" id="cartUpdate">
                           	<input type="hidden" name="cartNum" th:value="${cart.cartNum}">
                          	<input id="proCnt" name="cartCnt" type="hidden" th:value="${cart.cartCnt}" readonly> 
                          </form>
                        <a class="quantity_modify_btn" th:attr="data-id=${cart.cartNum}">변경</a>
                      </div>
                    </td>
                    <td class="goods-page-price">
                      <strong th:text="${cart.proPrice}"><span>원</span></strong>
                    </td>
                    <td class="del-goods-col">
                      <a class="del-goods" href="javascript:;">&nbsp;</a>
                    </td>
                  </tr>
                  
                </table>
                </div>

                <div class="shopping-total">
                  <ul>
                    <li class="shopping-total-price">
                      <em>Total</em>
                      <strong class="price"><span>$</span>50.00</strong>
                    </li>
                  </ul>
                </div>
              </div>
              <input id="email" th:value="${session.email}" type="hidden">
              <button class="btn btn-default" type="submit">Continue shopping <i class="fa fa-shopping-cart"></i></button>
              <button class="btn btn-primary" type="submit">Checkout <i class="fa fa-check"></i></button>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
      </div>
    </div>
<script>
$(".quantity_modify_btn").on("click",function(){
	var cartId = $(this).data("id")
	var count = $(this).parent("td").find("input").val();
	$("#cartUpdate").submit()
})

</script>
</html>
