<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      <head>
        <!-- config-->
        <config th:replace="common/fragments/config::ConfigFragment"></config>

      </head>
    <body>
        
        <!--Header -->
        <header th:replace="common/fragments/header::HeaderFragment"></header>
    
        <!--Content -->
        <th:block layout:fragment="Content"></th:block>
    
        <!--Footer -->
        <footer th:replace="common/fragments/footer::FooterFragment"></footer>

                
    </body>
</html>