<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
      layout:fragment="Content">

<div class="container mt-5">
    <h2>주문 현황</h2>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">주문 번호</th>
                <th scope="col">상품명</th>
                <th scope="col">주문자</th>
                <th scope="col">주문 상태</th>
                <th scope="col">주문 시간</th>
            </tr>
        </thead>
        <tbody id="orderTableBody">
            <!-- 여기에 주문 데이터가 들어갑니다 -->
        </tbody>
    </table>
</div>
</html>
