<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.shop.mapper.OrderMapper">
	<select id="getProductInfo" resultType="com.dj.shop.vo.OrderVO">
		select product_num,pro_name,pro_price,pro_img1
		from product
		where product_num =#{productNum}
	</select>
	
	
	<select id="getOrderInfo">
	select product_num,pro_price
	from product
	where product_num =#{productNum}
	</select>
	
	<insert id="insertOrder">
	insert into orders(order_num,order_state,order_zip,order_add1,order_add2,tel,name,order_req,user_number)
	values(#{orderNum},'배송준비',#{orderZip},#{orderAdd1},#{orderAdd2},#{tel},#{name},#{orderReq},#{userNumber})
	</insert>
	
	<insert id="insertOrderItem">
	insert into order_item(order_dnum,order_num,product_num,order_price,order_cnt)
	values(#{orderDnum},#{orderNum},#{productNum},#{orderPrice},#{orderCnt})
	</insert>
	
	<update id="deleteCnt">
	UPDATE product
	SET  pro_cnt =#{proCnt}
	where product_num = #{productNum}
	</update>

	<select id="getOrdersInfo" resultMap="orderResultMap" parameterType="int">
	select s.*,i.order_price,i.order_dnum,i.product_num,i.order_cnt,p.pro_name
	from orders s
    join order_item i on s.order_num = i.order_num
    join product p on i.product_num = p.product_num
	where s.user_number = #{userNumber}
	</select>

	<resultMap id="orderResultMap" type="com.dj.shop.vo.OrdersVO">
        <id property="orderNum" column="order_num" />
        <result property="userNumber" column="user_number" />
        <result property="orderDate" column="order_date" />
        <result property="orderState" column="order_state" />
        <result property="orderZip" column="order_zip" />
        <result property="orderAdd1" column="order_add1" />
        <result property="orderAdd2" column="order_add2" />
        <result property="tel" column="tel" />
        <result property="name" column="name" />
        <result property="orderReq" column="order_req" />
        <result property="proImg1" column="pro_img1" />

        <collection property="orders" ofType="com.dj.shop.vo.OrdersItemVO">
            <result property="orderDnum" column="order_dnum" />
            <result property="orderNum" column="order_num" />
            <result property="productNum" column="product_num" />
            <result property="orderPrice" column="order_price" />
            <result property="orderCnt" column="order_cnt" />
        </collection>
    </resultMap>
</mapper>