<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.shop.mapper.ProductMapper">
	<insert id="insertMarket"
		parameterType="com.dj.shop.vo.ProductVO">
		<selectKey keyProperty="productNum" resultType="int"
			order="BEFORE">
			SELECT NVL(MAX(product_num),0)+1 FROM product
		</selectKey>
		INSERT INTO PRODUCT
		VALUES(#{productNum},
		#{categoryNum},
		#{proName},
		#{proImg1},
		#{proImg2},
		#{proImg3},
		#{proContent},
		#{proPrice},
		sysdate(),
		#{proCnt},
		'N')
	</insert>

	<select id="getAllSangpums"
		resultType="com.dj.shop.vo.ProductVO">
		SELECT b.*
		FROM (
		SELECT @ROWNUM := @ROWNUM + 1 AS rn, p.*
		FROM PRODUCT p
		JOIN category c ON p.category_num = c.category_num
		CROSS JOIN (SELECT @ROWNUM := 0) r
		WHERE c.category_num = #{categoryNum}
		) b
		WHERE b.rn BETWEEN #{first} AND #{last}
	</select>
		
	<select id="getData" resultType="com.dj.shop.vo.ProductVO">
		SELECT *
		FROM PRODUCT
		WHERE product_num =#{productNum}
	</select>

	<select id="count" resultType="int">
		SELECT COUNT(*)
		FROM PRODUCT p JOIN
		category a
		ON p.category_num = a.category_num
		WHERE p.category_num = #{categoryNum};
	</select>
	
	<select id="categoryList" resultType="com.dj.shop.vo.ProductVO">
	SELECT *,(category_num= #{categoryNum}) as selected
	FROM category
	</select>
	
	<update id="updateMarket" parameterType="com.dj.shop.vo.ProductVO">
	update product 
	SET  category_num = #{categoryNum},
		pro_name = #{proName}
		<if test="proImg1 != null">,pro_img1 = #{proImg1}</if>
		<if test="proImg2 != null">,pro_img2 = #{proImg2}</if>
		<if test="proImg3 != null">,pro_img3 = #{proImg3}</if>,
		pro_content = #{proContent},
		pro_price = #{proPrice},
		pro_date = sysdate(),
		pro_cnt = #{proCnt}
	where product_num =#{productNum}
	</update>
	
	<delete id="deleteMarket">
	DELETE 
	FROM PRODUCT
	WHERE product_num =#{productNum}
	</delete>
	
	<select id="productCheck" resultType="int">
	SELECT pro_cnt
	FROM product
	where product_num = #{productNum}
	</select>
</mapper>