<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.shop.mapper.UserMapper">
	<select id="userSelect" resultType="com.dj.shop.vo.UserVO">
		SELECT *
		FROM USERS
		WHERE email = #{email}

	</select>
 	<insert id="saveUser">
 		<selectKey keyProperty="userNumber"  resultType="int"  order="BEFORE">
 		SELECT NVL(MAX(user_number),0) + 1
 		FROM users
 		</selectKey>
		INSERT INTO USERS(user_number,name,email,user_pwd,tel,gender,suspen,signout,roles)
		VALUES(#{userNumber},#{name},#{email},#{userPwd},#{tel},#{gender},'N','N','USER')
	</insert>
	
	<select id="idCheck" resultType="boolean">
		SELECT CASE WHEN COUNT(*) = 1 THEN 0 ELSE 1 END AS ID 
		FROM USERS WHERE name = #{name}
	</select>
	
	<select id="emailChk" resultType="boolean">
		SELECT CASE WHEN COUNT(*) = 1 THEN 0 ELSE 1 END AS ID 
		FROM USERS WHERE email = #{email}
	</select>
	
	<select id="getUserInfo" resultType="com.dj.shop.vo.UserVO">
		Select *
		From users
		where user_number = #{userNumber}
	</select>
	
</mapper>