<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>

<head>
<script th:src="@{/assets/plugins/jquery.min.js}"></script>
<link th:href="@{/assets/pages/css/login.css}" rel="stylesheet">
<script th:src="@{/assets/pages/scripts/login.js}" type="text/javascript"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

</head>
<body>

<div id="form-container">
	<div id="form-inner-container">
		<!-- Sign up form -->
		<div id="sign-up-container">
			<h3>회원가입</h3>
			<form method="post" action="/user/signUp" id="signUpProc">
				<label for="name">이름</label> 
				<input type="text" name="name"id="name" placeholder="Name">
				
				<label for="email">이메일</label>
				<input type="email" name="email" id="email" placeholder="Email" th:style="${'width: 45%; display:inline-block'}" onkeyup="checkEmail()">
				<span th:style="${'color: #7369AB'}">@</span>
				<select id="domain" oninput="checkEmail()">
					<option value diasbled>선택해주세요</option>
					<option value="naver.com">naver.com</option>
					<option value="daum.net">daum.net</option>
					<option value="gmail.com">gmail.com</option>	
				</select>
				<span class ="email_chk" style="color:green; display:none;">사용 가능한 이메일 입니다.</span>
				<span class ="email_alr" style="color:red; display:none;">중복된 이메일 입니다.</span>
				<span class ="email_com" style="color:red; display:none;">이메일 도메인을 선택하여 주세요.</span>
				<button type="button" id="emailBtn" >이메일 인증하기</button>
				<br/>
				<br/>
				<label for="password">비밀번호</label>
				 
				<input type="password"name="userPwd" id="userPwd" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required oninput="pwdChk()">
				<span class ="pwd_chk" style="color:green; display:none;">사용 가능한 비밀번호 입니다.</span>
				<span class ="pwd_bug" style="color:red; display:none;">비밀번호는 영문,숫자를 포함하여 8자 이상이어야 합니다.</span>
						<label for="password">비밀번호 확인</label> 
				<input type="password"name="passchk" id="passchk" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required oninput="pwdChk2()">
				<span class ="pwdC_chk" style="color:green; display:none;">비밀번호가 일치합니다</span>
				<span class ="pwdC_bug" style="color:red; display:none;">비밀번호가 일치하지 않습니다.</span> 
						<label for="name">전화번호</label> 
				<input type="text" name="tel"id="tel" placeholder="010&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required oninput="telChk()">
				<span class ="tel_chk" style="color:red; display:none;">휴대폰 번호를 정확히 입력해주세요</span>
							<br/>
				<br/>
				<div id="form-controls">
					<button type="button" id="signUp">Sign Up</button>
					<button type="button" id="toggleSignIn">Sign In</button>
				</div>

				<input type="hidden" name="terms" id="terms"> 
			</form>
		</div>

		<!-- Sign in form -->
		<div id="sign-in-container" class="hide">
			<h3>로그인</h3>
			<form method="post" action="/loginProc">
				<label for="username">이메일</label> <input type="text"
					name="email" id="email" placeholder="user@example.com">

				<label for="userPwd">비밀번호</label> <input type="password"
					name="userPwd" id="userPwd"
					placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">

				<div id="form-controls">
					<button type="submit">Sign In</button>
					<button type="button" id="toggleSignUp">Sign Up</button>
				</div>

				<input type="hidden" name="terms" id="terms"> 

			</form>
		</div>

		<!-- Lottie animation -->
		<div id="animation-container">
			<lottie-player
				src="https://assets3.lottiefiles.com/packages/lf20_aesgckiv.json"
				background="transparent" speed="1"
				style="width: 520px; height: 520px;" loop autoplay></lottie-player>
		</div>
	</div>
</div>

</body>

</html>