<!-- upload.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
      layout:fragment="Content">
<head>
      <!--Common Head-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport"
              content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
      
      </head>

<div class="main">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="index.html">Home</a></li>
      <li><a href="">Store</a></li>
      <li class="active">Checkout</li>
    </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <h1>Checkout</h1>
            <!-- BEGIN CHECKOUT PAGE -->
        
          <div class="panel-group checkout-page accordion scrollable" id="checkout-page">

              <!-- 사용자 상세 정보 -->
            <div id="payment-address" class="panel panel-default">
              <div class="panel-heading">
                <h2 class="panel-title">
                  <a data-toggle="collapse" data-parent="#checkout-page" href="#payment-address-content" class="accordion-toggle">
                      사용자 상세정보
                  </a>
                </h2>
              </div>
              <div id="payment-address-content" class="panel-collapse collapse">
                <div class="panel-body row">
                  <div class="col-md-6 col-sm-6">
                    <h3>상세정보</h3>
                    <div class="form-group">
                      
                      <label for="firstname">이름 <span class="require">*</span></label>
                      <input type="text" id="firstname" class="form-control" th:value="${userInfo.name}">
                    </div>
                    <div class="form-group">
                      <label for="email">이메일 <span class="require">*</span></label>
                      <input type="text" id="email" class="form-control" th:value="${userInfo.email}">
                    </div>
                    <div class="form-group">
                      <label for="telephone">전화번호 <span class="require">*</span></label>
                      <input type="text" id="telephone" class="form-control" th:value="${userInfo.tel}">
                    </div> 

                  </div>
                  <div class="col-md-6 col-sm-6">
                    <h3>주소 정보</h3>
                    <div class="form-group">
                      <label for="post-code">우편번호 <span class="require">*</span></label>
                      <input type="text" id="post-code" class="form-control" th:value="${addressInfo.addZip}">
                    </div>
                    <div class="form-group">
                      <label for="address1">주소</label>
                      <input type="text" id="address1" class="form-control" th:value="${addressInfo.addAddr}">
                    </div>
                    <div class="form-group">
                      <label for="address2">상세주소</label>
                      <input type="text" id="address2" class="form-control" th:value="${addressInfo.addAddr2}">
                    </div>
                  </div> <hr>
                  <div class="col-md-12">                      
                    <button class="btn btn-primary  pull-right" type="submit" data-toggle="collapse" data-parent="#checkout-page" data-target="#shipping-address-content" id="button-payment-address">Continue</button>                      
                  </div>
                </div>
              </div>
            </div>
              <!-- 사용자 상세정보 끝 -->
		    <form action="/order/plus" method="post" class="checkOut_form">
              <!-- 주소지 정보 -->
              <div id="shipping-address" class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#checkout-page" href="#shipping-address-content" class="accordion-toggle">
                      주소지 상세정보
                    </a>
                  </h2>
                </div>
                <div id="shipping-address-content" class="panel-collapse collapse">
                  <div class="panel-body row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="firstname-dd">이름 <span class="require">*</span></label>
                        <input type="text" id="firstname-dd" name="name" class="form-control" th:value="${addressInfo.addName}" >
                      </div>
                      
                      <div class="form-group">
                        <label for="email-dd">이메일 <span class="require">*</span></label>
                        <input type="text" id="email-dd" name="email" class="form-control" >
                      </div>
                      
                      <div class="form-group">
                        <label for="telephone-dd">전화번호 <span class="require">*</span></label>
                        <input type="text" id="telephone-dd" name="tel" class="form-control" th:value="${addressInfo.addTel}">
                      </div> 
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label for="post-code-dd">우편번호 <span class="require">*</span></label>
                        <input type="text"  class="form-control" name="orderZip" id="addZip" th:value="${addressInfo.addZip}">
		                <button type="button" class="btn btn-primary" id="zipSearch">우편번호 찾기</button>
                      </div>
                      <div class="form-group">
                        <label for="address1-dd">주소</label>
                        <input type="text"  class="form-control" name="orderAdd1" id="addAddr" th:value="${addressInfo.addAddr}">
                      </div>
                      <div class="form-group">
                        <label for="address2-dd">상세주소</label>
                        <input type="text"  class="form-control" name="orderAdd2 " id="addAddr2" th:value="${addressInfo.addAddr2}">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <button class="btn btn-primary  pull-right" type="submit"  id="button-shipping-address" data-toggle="collapse" data-parent="#checkout-page" data-target="#shipping-method-content">Continue</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 주소지 정보 끝 -->
              
              <!-- 요청사항 -->
              <div id="shipping-method" class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#checkout-page" href="#shipping-method-content" class="accordion-toggle">
                      요청사항
                    </a>
                  </h2>
                </div>
                <div id="shipping-method-content" class="panel-collapse collapse">
                  <div class="panel-body row">
                    <div class="col-md-12">
                      <div class="radio-list">
                      </div>
                      <div class="form-group">
                        <label for="delivery-comments">요청사항</label>
                        <textarea id="delivery-comments" rows="8" name="orderReq" class="form-control" th:text="${addressInfo.addReq}"></textarea>
                      </div>
                      <button class="btn btn-primary  pull-right" type="submit" id="button-shipping-method" data-toggle="collapse" data-parent="#checkout-page" data-target="#payment-method-content">Continue</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 요청사항 끝 -->
              <div class="checkOut_div"></div>
			</form>
              <!-- 주문 목록 -->
              <div id="confirm" class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#checkout-page" href="#confirm-content" class="accordion-toggle">
                      주문 목록
                    </a>
                  </h2>
                </div>
                <div id="confirm-content" class="panel-collapse collapse">
                  <div class="panel-body row">
                    <div class="col-md-12 clearfix">
                      <div class="table-wrapper-responsive">
                        <table>
                          <tr>
                            <th class="checkout-image">상품 이미지</th>
                            <th class="checkout-description">상품명</th>
                            <th class="checkout-quantity">상품수량</th>
                            <th class="checkout-price">상품 가격</th>
                            <th class="checkout-price">합계 가격</th>
                          </tr>
                          <tr th:each="order : ${orderList}" class="product-list">
                            <td class="goods-page-image">
                              <a th:href="'/product/detail?productNum='+${order.productNum}"><img th:src="'/image/'+${order.proImg1}"></a>
                            </td>
                            <td class="goods-page-description">
                              <h3><a th:href="'/product/detail?productNum='+${order.productNum}" th:text="${order.proName}"></a></h3>
                            </td>
					        <td class="checkout-quantity" th:text="${order.proCnt}"></td>
					        <td class="goods-page-price">
                              <strong th:text="${order.proPrice}" id="price"><span>원</span></strong>
                            </td>
                            <td class="goods-page-price" id ="goods-page-totalPrice">
                              <strong th:text="${order.proPrice * order.proCnt}" id="oneTotalPrice"><span>원</span></strong>
                            </td>
                            <input name="productNum" id="productNum" type="hidden" th:value="${order.productNum}">
                            <input name="proCnt" id="proCnt" type="hidden" th:value="${order.proCnt}">
                            <input name="proPrice" id="proPrice" type="hidden" th:value="${order.proPrice}">
                            
                          </tr>
                        </table>
                      </div>
                      <div class="checkout-total-block">
                        <ul>
                          <li class="checkout-total-price">
                            <em>총 가격</em>
                            <strong class="totalPrice"><span>원</span></strong>
                          </li>
                          <li class="checkout-total-price">
                            <em>배송비</em>
                            <strong class="deliveryPrice"><span>원</span></strong>
                          </li>
                          <li class="checkout-total-price">
                            <em>최종가격</em>
                            <strong class="finalPrice"><span>원</span></strong>
                          </li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
                      <button class="btn btn-primary pull-right" type="submit" id="button-confirm">결제 하기</button>
                      <button type="button" class="btn btn-default pull-right margin-right-20">취소</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 주문 목록 끝 -->
              <!-- 주문시 상품 정보 -->

			  <!-- 주문시 상품 정보 끝 -->				
               <input type="hidden" id="userNumber" th:value="${userInfo.userNumber}">
            </div>
            <!-- END CHECKOUT PAGE -->
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
    </div>
    
    <div>
    
    </div>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript">
    $("#zipSearch").on('click',function(){
    	zipAddressSearch();
    })
    
    $(document).ready(function(){
    	setPrice()
    })
    
    $("#button-confirm").on("click",function(){
      let contents = "";
      let orderDnum = 0;
      let user = $("#userNumber").val();
      $('.product-list').each(function(index,element){
    	  
    	  
    	//상퓸번호 
        let productNum = $(element).find("#productNum").val();
    	
        //상품수량
    	let proCnt = $(element).find("#proCnt").val();
    	
        //
        let proPrice = $(element).find("#proPrice").val();
        
        //상품 번호 input태그 만들기
    	let productNum_input = "<input name ='orders[" + orderDnum + "].productNum' type ='hidden' value='" + productNum + "'>";
    	let orderCnt_input = "<input name ='orders[" + orderDnum + "].orderCnt'type ='hidden' value='" + proCnt + "'>";
    	let orderPrice_input = "<input name ='orders[" + orderDnum + "].orderPrice'type ='hidden' value='" + proPrice + "'>";
    	
    	contents += productNum_input;
    	contents += orderCnt_input;
    	contents += orderPrice_input;
    	
    	orderDnum += 1;
      })
      if(!contents){
    	  alert("주문 정보가 존재하지 않습니다.")
      }
      contents += "<input name ='userNumber' type ='hidden' value='" + user + "'>"
      $(".checkOut_div").html(contents);
      $(".checkOut_form").submit();
    })
    
    function setPrice() {
      let totalPrice = 0; //총 가격
      let deliveryPrice = 0;// 배송비 
      let finalPrice = 0;//최종 가격
        $('.product-list').each(function(index,element){
    	  console.log($(element).find('#oneTotalPrice').text());
    	  numericValue = parseInt($(element).find('#oneTotalPrice').text());  		
		  totalPrice += numericValue;		
    	});
    	
    	if(totalPrice => 30000){
    	  deliveryPrice = 0;
    	}else if(totalPrice == 0){
    	  deilveryPrice = 0;
    	}else{
    	  deliveryPrice = 3000;
    	}
    	finalPrice = deliveryPrice + totalPrice;
    	$('.totalPrice').text(totalPrice +"원")
    	$('.deliveryPrice').text(deliveryPrice +"원")
    	$('.finalPrice').text(finalPrice +"원")	
    }
    
   	/* 우편번호 api */
    function zipAddressSearch(){
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
            	// 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수
 
                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                   addr += extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }
 
                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('addZip').value = data.zonecode;
                document.getElementById("addAddr").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("addAddr2").focus();
 
     
            }
        }).open();  
    }
    
    </script>
</html>