<!-- upload.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
      layout:fragment="Content">
<head>
      <!--Common Head-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport"
              content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
        <style>
		@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
       	.rate { display: inline-block;border: 0;margin-right: 15px;}
		.rate > input {display: none;}
		.rate > label {float: right;color: #ddd}
		.rate > label:before {display: inline-block;font-size: 1rem;padding: .3rem .2rem;margin: 0;cursor: pointer;font-family: FontAwesome;content: "\f005 ";}
		.rate .half:before {content: "\f089 "; position: absolute;padding-right: 0;}
		.rate input:checked ~ label, 
		.rate label:hover,.rate label:hover ~ label { color: #f73c32 !important;  } 
		.rate input:checked + .rate label:hover,
		.rate input input:checked ~ label:hover,
		.rate input:checked ~ .rate label:hover ~ label,  
		.rate label:hover ~ input:checked ~ label { color: #f73c32 !important;  } 
		</style>
      </head>
      
      
    <div class="title-wrapper">
     	<div class="container">
      		<div class="container-inner">
		       
     	 	  </div>
      	</div>
    </div>

    <div class="main">
      <div class="container">
       <ul class="breadcrumb">
		<li><a href="/">Home</a></li>
	      <li class="active" id="link">책상</li>
	  </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
	      <div class="sidebar col-md-3 col-sm-5">
	        <ul class="list-group margin-bottom-25 sidebar-menu">
              <li class="list-group-item clearfix" th:each="category : ${categories}" th:classappend="${category.selected == 1 ? 'dropdown active' : ''}">
                <a th:href="@{/product/list(category=${category.categoryNum})}" >
                  <i class="fa fa-angle-right"></i> [[${category.categoryName}]]
                </a>
                <input type="hidden" id="selCateogry" th:value="${category.categoryNum}" th:if="${category.selected == 1 }">
                <input type="hidden" id="catName" th:value="${category.categoryName}" th:if="${category.selected == 1 }">
              </li>
            </ul>
	      </div>
          <!-- END SIDEBAR -->
         
           <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-7">
            <div class="product-page">
            	<form method="post" id="cartInsert" action="/product/cartInsert">
	              <div class="row" th:each="pr : ${pro}">
	                <div class="col-md-6 col-sm-6">
	                  <div class="product-main-image">
	                    <img th:src="'/image/'+${pr.proImg1}" th:alt="${pr.proName}" class="img-responsive">
	                  </div>
	                  <div class="product-other-images">
	                    <a href="'/image/'+${pr.proImg2}" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" th:src="'/image/'+${pr.proImg2}"></a>
	                    <a href="'/image/'+${pr.proImg3}" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" th:src="'/image/'+${pr.proImg3}"></a>
	                  </div>
	                </div>
	                <div class="col-md-6 col-sm-6">
	                  <h1 th:text="${pr.proName}">Cool green dress with red bell</h1>
	                  <div class="price-availability-block clearfix">
	                    <div class="price">
	                      <strong th:text="${pr.proPrice}"><span>원</span></strong>
	                      <em><span th:text="${pr.proPrice}">62.00</span>원</em>
	                    </div>
	                    <div class="availability">
	                      Availability: <strong>In Stock</strong>
	                    </div>
	                  </div>
	                  <div class="description">
	                    <p th:text=${pr.proContent}></p>
	                  </div>
	                 
	                  <div class="product-page-cart">
	                    <div class="product-quantity">
	                        <input id="cnt" name="proCnt" type="text" value="1" readonly class="form-control">
	                    </div>            
	                    <input type="hidden" th:value="${pr.productNum}" name="productNum" id="productNum">
	                    <button class="btn btn-primary" id="cartBtn" type="button">장바구니 담기</button>
	                    <button class="btn btn-primary" id="orderBtn" type="button">주문하기</button>
	                    <button class="btn btn-primary" th:if="${#strings.equals(session.roles,'[ROLE_ADMIN]')}" type="button" id="updateBtn">상품수정</button>
	                    <button class="btn btn-primary" th:if="${#strings.equals(session.roles,'[ROLE_ADMIN]')}" type="button" id="deleteBtn">상품삭제</button>
	                  </div> 
	                  </div>
	                </div>
				</form>
                <div class="product-page-content">
                  <ul id="myTab" class="nav nav-tabs">                          
                    <li class="active"><a href="#Reviews" data-toggle="tab">리뷰</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="Reviews">
                      <!--<p>There are no reviews for this product.</p>-->
                      <div class="review-item clearfix">
                        <div class="review-item-submitted">
                          <strong >Bob</strong>
						 
						<em>30/12/2013 - 07:37</em>
                          <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        </div>
						                                              
                        <div class="review-item-content">
                            <p >Sed velit quam, auctor id semper a, hendrerit eget justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel arcu pulvinar dolor tempus feugiat id in orci. Phasellus sed erat leo. Donec luctus, justo eget ultricies tristique, enim mauris bibendum orci, a sodales lectus purus ut lorem.</p>
                        </div>
						
                      </div>

                      <!-- BEGIN FORM-->
                        <h2>리뷰 작성</h2>
						<fieldset class="rate">
							<input type="radio" id="rating10" name="rating" value="10"><label for="rating10" title="5점"></label>
							<input type="radio" id="rating9" name="rating" value="9"><label class="half" for="rating9" title="4.5점"></label>
							<input type="radio" id="rating8" name="rating" value="8"><label for="rating8" title="4점"></label>
							<input type="radio" id="rating7" name="rating" value="7"><label class="half" for="rating7" title="3.5점"></label>
							<input type="radio" id="rating6" name="rating" value="6"><label for="rating6" title="3점"></label>
							<input type="radio" id="rating5" name="rating" value="5"><label class="half" for="rating5" title="2.5점"></label>
							<input type="radio" id="rating4" name="rating" value="4"><label for="rating4" title="2점"></label>
							<input type="radio" id="rating3" name="rating" value="3"><label class="half" for="rating3" title="1.5점"></label>
							<input type="radio" id="rating2" name="rating" value="2"><label for="rating2" title="1점"></label>
							<input type="radio" id="rating1" name="rating" value="1"><label class="half" for="rating1" title="0.5점"></label>
						</fieldset> 
                        <div class="form-group">
                          <label for="review">리뷰 <span class="require">*</span></label>
                          <textarea class="form-control" rows="8" id="reviewText"></textarea>
                        </div>
						
                        <div class="padding-top-20">                  
                          <button type="submit" id="review_button" class="btn btn-primary">작성</button>
                        </div>
						
                      <!-- END FORM--> 
                    </div>
                  </div>
                </div>
					<!-- 주문 form -->
			<form th:action="'/order/'+${session.email}" method="get" id="orderForm">
				<input type="hidden" name="orders[0].productNum" th:value="${pro.productNum}">
				<input type="hidden" name="orders[0].orderCnt" value="">
			</form>
			
                <div class="sticker sticker-sale"></div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
   </div>
      <script>
		var proCount = $("#cnt").val()
		var productNum = $("input[name=productNum]").val()
		$("#orderBtn").click("on",function(){
			
			$("#orderForm").find("input[name= 'orders[0].orderCnt']").val(proCount)
			$("#orderForm").submit();
		})
      	$("#updateBtn").click(function(){
      		
      		location.href = "/product/updateForm?productNum=" + productNum
      	})
      	$("#deleteBtn").click(function(){
      		
			$("#cartInsert").attr("action", "/product/productDelete").submit();
      		
      	})
      	$("#cartBtn").click(function(e){
      		var cnt = $("#cnt").val();
      		console.log(cnt)
          	var productNumber = $("#productNum").val();
      		$.ajax({
      			url : '/cart/add',
      			type: 'POST',
      			data : {
      				cnt : cnt,
      				productNum : productNumber
      			},
      			success : function(result){
      				if(result == 0){
      					alert("장바구니에 추가를 하지 못하였습니다.")
      				}else if(result == 1){
      					alert("장바구니에 추가 하였습니다.")
      				}else if(result == 2){
      					alert("장바구니에 이미 상품이 있습니다.")
      				}else if(result == 3){
      					alert("로그인이 필요 합니다.")
      				}else if(result == 4){
      					alert("상품의 재고가 부족합니다.")
      				}
      			}
      		
      		})
      	})

		$("#review_button").click("on",function(){
			let review = $("#reviewText").val()
			let revStar = $("input[name='rating']:checked").val();
			console.log(revStar)
			if (review == "") {
				alert("내용을 작성해 주세요")
			}
			if(revStar == undefined){
				alert("별점을 입력해주세요")
			}
			$.ajax({
				url : "/review/add",
				type : "POST",
				data : {revContent : review,
						revStar : revStar,
						productNum : productNum
				},
				success : function(result){
					if (result == 1) {
						alert("등록완료")
					} else if(result == 2){
						alert("로그인후에 댓글등록이 가능합니다.")
					}
					if (result == 3) {
						alert("리뷰를 작성한 상품 입니다.")
					} 
				}
			})
		})
		function reviewlist(){
			$.ajax({
				url: '/review/list',
				type : 'get',
				data : {},
				success : function(data){
					let reviewText = '';
					$(data).each(function(index,reviews){	
						reviewText 	+='<div class="review-item-submitted">'
						reviewText  +=' <strong>'+reviews.email+'</strong>'
						reviewText  +='<em>'+reviews.revDate+'</em>'
						reviewText  +='<div class="rateit" data-rateit-value="5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>'
						reviewText 	+='</div>'                                              
						reviewText  +='<div class="review-item-content">'
						reviewText  +='<p>'+reviews.revContent+'</p>'
						reviewText	+='</div>';
					})
					$(".review-item clearfix").html(reviewText);
				}
			})
			
			
		}
      </script>
</html>
