<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
      layout:fragment="Content">
<head>
	<!--Common Head-->
		<script th:src="@{/assets/pages/scripts/productDetail.js}" type="text/javascript"></script>
		<link th:href="@{/assets/pages/css/productDetail.css}" rel="stylesheet">
</head>

    <div class="title-wrapper">
     	<div class="container">
      		<div class="container-inner">
		       
     	 	  </div>
      	</div>
    </div>

    <div class="main">
      <div class="container">
       <ul class="breadcrumb">
		<li><a href="/">Home</a></li>
	      <li class="active" id="link">책상</li>
	  </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN SIDEBAR -->
	      <div class="sidebar col-md-3 col-sm-5">
	        <ul class="list-group margin-bottom-25 sidebar-menu">
              <li class="list-group-item clearfix" th:each="category : ${categories}" th:classappend="${category.selected == 1 ? 'dropdown active' : ''}">
                <a th:href="@{/product/list(category=${category.categoryNum})}" >
                  <i class="fa fa-angle-right"></i> [[${category.categoryName}]]
                </a>
                <input type="hidden" id="selCateogry" th:value="${category.categoryNum}" th:if="${category.selected == 1 }">
                <input type="hidden" id="catName" th:value="${category.categoryName}" th:if="${category.selected == 1 }">
              </li>
            </ul>
	      </div>
          <!-- END SIDEBAR -->
         
           <!-- BEGIN CONTENT -->
          <div class="col-md-9 col-sm-7">
            <div class="product-page">
            	
	              <div class="row" th:each="pr : ${pro}">
	                <div class="col-md-6 col-sm-6">
	                  <div class="product-main-image">
	                    <img th:src="'/image/'+${pr.proImg1}" th:alt="${pr.proName}" class="img-responsive">
	                  </div>
	                  <div class="product-other-images">
	                    <a href="'/image/'+${pr.proImg2}" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" th:src="'/image/'+${pr.proImg2}"></a>
	                    <a href="'/image/'+${pr.proImg3}" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" th:src="'/image/'+${pr.proImg3}"></a>
	                  </div>
	                </div>
	                <div class="col-md-6 col-sm-6">
	                  <h1 th:text="${pr.proName}"></h1>
	                  <div class="price-availability-block clearfix">
	                    <div class="price">
	                      <strong th:text="${pr.proPrice}"><span>원</span></strong>
	                    </div>
	                    <div class="product">
							<button id="wishlist-button" class="wishlist-button" onclick="toggleWishlist()">☆</button>
						</div>
	                  </div>
	                  <div class="description">
	                    <p th:text=${pr.proContent}></p>
	                  </div>
	                 
	                  <div class="product-page-cart">
	                    <div class="product-quantity">
							<form method="post" id="cartInsert" action="/product/cartInsert"></form>
	                        <input id="cnt" name="proCnt" type="text" value="1" readonly class="form-control">
	                    </div>            
	                    <input type="hidden" th:value="${pr.productNum}" name="productNum" id="productNum">
					</form>
	                    <button class="btn btn-primary" id="cartBtn" type="button">장바구니 담기</button>
	                    <button class="btn btn-primary" id="orderBtn" type="button">주문하기</button>
	                    <button class="btn btn-primary" th:if="${#strings.equals(session.roles,'[ROLE_ADMIN]')}" type="button" id="updateBtn">상품수정</button>
	                    <button class="btn btn-primary" th:if="${#strings.equals(session.roles,'[ROLE_ADMIN]')}" type="button" id="deleteBtn">상품삭제</button>
	                  </div> 
	                  </div>
	                </div>
				
                <div class="product-page-content">
                  <ul id="myTab" class="nav nav-tabs">                          
                    <li class="active"><a href="#Reviews" data-toggle="tab">리뷰</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="Reviews">
                     
                      <div class="review-item clearfix">	
                      </div>
					  <div class="row">
						<div class="col-md-8 col-sm-8">
							<ul class="pagination pull-right" id="pagination">
								<!-- 페이지네이션 항목들이 여기에 동적으로 추가됩니다 -->
							</ul>
						</div>
					</div>
                      <!-- BEGIN FORM-->
                        <h2>리뷰 작성</h2>
						<fieldset class="rate">
							<input type="radio" id="rating10" name="rating" value="10"><label for="rating10" title="5점"></label>
							<input type="radio" id="rating9" name="rating" value="9"><label class="half" for="rating9" title="4.5점"></label>
							<input type="radio" id="rating8" name="rating" value="8"><label for="rating8" title="4점"></label>
							<input type="radio" id="rating7" name="rating" value="7"><label class="half" for="rating7" title="3.5점"></label>
							<input type="radio" id="rating6" name="rating" value="6"><label for="rating6" title="3점"></label>
							<input type="radio" id="rating5" name="rating" value="5"><label class="half" for="rating5" title="2.5점"></label>
							<input type="radio" id="rating4" name="rating" value="4"><label for="rating4" title="2점"></label>
							<input type="radio" id="rating3" name="rating" value="3"><label class="half" for="rating3" title="1.5점"></label>
							<input type="radio" id="rating2" name="rating" value="2"><label for="rating2" title="1점"></label>
							<input type="radio" id="rating1" name="rating" value="1"><label class="half" for="rating1" title="0.5점"></label>
						</fieldset> 
                        <div class="form-group">
                          <label for="review">리뷰 <span class="require">*</span></label>
                          <textarea class="form-control" rows="8" id="reviewText"></textarea>
                        </div>
						
                        <div class="padding-top-20">                  
                          <button id="review_button" class="btn btn-primary">작성</button>
                        </div>
						
                      <!-- END FORM--> 
                    </div>
                  </div>
                </div>
					<!-- 주문 form -->
			<form th:action="'/order/'+${session.email}" method="get" id="orderForm">
				<input type="hidden" name="orders[0].productNum" th:value="${pro.productNum}">
				<input type="hidden" name="orders[0].orderCnt" value="">
			</form>
			
                <div class="sticker sticker-sale"></div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
   </div>
</html>
