<html lang ="en"
		xmlns:th ="http://www.thymeleaf.org"
		th:fragment="FooterFragment">
<!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN BOTTOM ABOUT BLOCK -->
          <div class="col-md-9 pre-footer-col">
            <h2>개인 쇼핑몰프로젝트 </h2>
            <p>스프링 부트와 thymeleaf를 사용한 쇼핑몰 프로젝트 </p>
            <p>새로운 기술을 하나씩 시도하면서 보완해 나갈 예정입니다.</p>
          </div>
          <!-- END BOTTOM ABOUT BLOCK -->
          <!-- BEGIN BOTTOM INFO BLOCK -->
          <div class="col-md-3 pre-footer-col">
            <h2>NAVIGATION</h2>
            <ul class="list-unstyled">
              <li><i class="fa fa-angle-right"></i> <a href="javascript:;">portfolio</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="javascript:;">github</a></li>
            </ul>
          </div>
          <!-- END INFO BLOCK -->
        </div>
        <hr> 
      </div>
    </div>
    <!-- END PRE-FOOTER -->
</html>