<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
     th:fragment="HeaderFragment">
<!-- Head BEGIN -->

<!-- Head END -->
<!-- Body BEGIN -->
  <input type="hidden" th:value="${session.email}" id="userEmail">

    <!-- BEGIN TOP BAR -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- BEGIN TOP BAR LEFT PART -->
                <div class="col-md-6 col-sm-6 additional-shop-info">
                </div>
                <!-- END TOP BAR LEFT PART -->
                <!-- BEGIN TOP BAR MENU -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li th:if="${session.roles != null}"><a href="myAddress">My Account</a></li>
                        <li th:if="${session.roles != null}"><a href="/myPage/wishlist">My Wishlist</a></li>
                        <li th:if="${session.roles == null}"><a href="/user/loginForm">Log In</a></li>
                        <li th:if="${session.roles != null}"><a href="/logout" >Logout</a></li>
                    </ul>
                </div>
                <!-- END TOP BAR MENU -->
            </div>
        </div>        
    </div>

    <!-- BEGIN HEADER -->
    <div class="header">
      <div class="container">
        <a class="site-logo" href="/"><img src="/assets/corporate/img/logos/logo-shop-red.png" alt="Metronic Shop UI"></a>

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN CART -->
        <div class="top-cart-block">
          <i class="fa fa-shopping-cart"></i>
                        
          <div class="top-cart-content-wrapper">
            <div class="top-cart-content">
            <ul class="scroller" style="height: 250px;">
            </ul>
              <div class="text-right">
                <a th:href="'/cart/cartlist?email='+${session.email}" class="btn btn-default">장바구니</a>
              </div>
            </div>
          </div>            
        </div>
        <!--END CART -->

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation">
          <ul>
            
            <li class="dropdown dropdown-megamenu">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                가구    
              </a>
              <ul class="dropdown-menu">
			    <li><a th:href="@{/product/list(category=1)}">침대</a></li>
			    <li><a th:href="@{/product/list(category=2)}">책상</a></li>
			    <li><a th:href="@{/product/list(category=3)}">의자</a></li>
			    <li><a th:href="@{/product/list(category=4)}">식탁</a></li>
			    <li><a th:href="@{/product/list(category=5)}">옷장</a></li>
			</ul>
            </li>
            

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">마이페이지</a>
           
               
              <ul class="dropdown-menu">
                <li><a th:if="${session.roles != null}" href="/myPage/orderList">주문현황</a></li>
                <li><a th:if="${session.roles != null}" href="/myPage/myAddress">주소목록</a></li>
                <li><a th:if="${session.roles != null}" href="/myPage/wishlist">위시리스트</a></li>
                <li><a href="/review/list">리뷰게시판</a></li>
              </ul>
            </li>
             <li><a href="/admin/product" th:if="${session.roles == ADMIN}">관리자 페이지</a></li>
           
            <!-- BEGIN TOP SEARCH -->
            <li class="menu-search">
              <span class="sep"></span>
              <i class="fa fa-search search-btn"></i>
              <div class="search-box">
                <form action="/product/search">
                  <div class="input-group">
                    <input type="text" name="keyword" placeholder="Search" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                  </div>
                </form>
              </div> 
            </li>
            <!-- END TOP SEARCH -->
          </ul>
        </div>
        <!-- END NAVIGATION -->
      </div>
    </div>
    <!-- Header END -->
	 <!-- 주문페이지 이동 폼 -->
    <!-- END TOP BAR -->
      <![endif]-->
    
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            Layout.initTouchspin();
            Layout.initTwitter();
        });
        
        function cartList(){
        	let user =$("#userEmail").val();
        	$.ajax({
        		url:'/cart/headlist',
        		type:'GET',
        		data:{ email : user},
        		success: function(data){
        			headCartList(data)
        			
        		}
        	})
        }
        
        function headCartList(products){
        	var cartListHTML = '';
        	$.each(products,function(index,product){
        		cartListHTML +='<li>';
        		cartListHTML +='<a href="/product/detail?proNum='+product.productNum+'"><img src="/image/'+product.proImg1+'" alt="Rolex Classic Watch" width="37" height="34"></a>';
        		cartListHTML +='<span class="cart-content-count">x '+product.cartCnt+'</span>'
        		cartListHTML +='<strong><a href="/product/detail?proNum='+product.productNum+'">'+product.productName+'</a></strong>'
        		cartListHTML +='<em>'+product.proPrice+'</em>'
        		cartListHTML +='<a class="del-goods" data-id="'+product.cartNum+'">&nbsp;</a>'
        		cartListHTML +='</li>'	
        	})
        	$(".scroller").html(cartListHTML);
        }
        $(document).on("click", ".del-goods", function(e) {
            e.preventDefault();
            var num = $(this).data("id");
            $.ajax({
                url: '/cart/cartDeleteAjax',
                type: 'POST',
                data: { cartNum: num },
                success: function(data) {
                    console.log(data);
                    if (data == 1) {
                        $(this).closest('li').remove();
                        cartList();
                    } else {
                        alert("삭제 실패 하였습니다.");
                    }
                }
            });
        });
        	
        
        $(document).ready(function(){
        	cartList();
        })
    </script>

</html>